
html, body {
  height: 100%;
}

@font-face {
  font-family: "BasicTrip";
  src: url(../fonts/Basic-Trip.ttf) format("truetype");
}

h1, h2, h3 {
  font-family: BasicTrip;
}

h1 { font-size: 40pt; color: #ffffff; }
h2 { font-size: 30pt; color: #ffffff }
h3 { font-size: 20pt; color: #ffffff }

.cursor-hand {
  cursor: pointer;
}

.cursor-text, .cursor-text:hover {
  cursor: text;
}

.background-image {

  position: fixed;

  background-image: url(../img/background_light.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

.header h1, .header h3 {
  width: 50%;
}

#index .form-group {
  display: block;
  overflow: hidden;
  padding: 0 5px
}

#index input {
  width: 100%
}

#index .input-transparent {
  background-color: rgba(255, 255, 255, 0.2);
}

#index .panel-transparent {
  background-color: rgba(242, 241, 239, 0.2);
  text-align: center;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

  margin: 20px 0;
  height: 300px;
}

#index .panel-transparent:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px 0px;
}

#index .panel-transparent .loader {
  position: relative;
  float: right;
  display: inline-block;
}

#index .panel-transparent .result {
  color: rgb(68, 108, 179);
  float: left;
  display: inline-block;

  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer > ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > ul > li {
  display: inline-block;
}

.footer-icon {
  width: 32px;
  height: 32px;
  background-size: contain;
  display: inline-block;
  margin: 5px;
}

.footer-icon:hover {
  -webkit-animation-name: pulse; /* from animate.css */
  animation-name: pulse;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.footer-icon.linkedin { background-image: url(../img/linkedin.png); }
.footer-icon.linkedin:hover { background-image: url(../img/linkedin_hover.png); }

.footer-icon.github { background-image: url(../img/github.png); }
.footer-icon.github:hover { background-image: url(../img/github_hover.png); }

.footer-icon.twitter { background-image: url(../img/twitter.png); }
.footer-icon.twitter:hover { background-image: url(../img/twitter_hover.png); }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
