extends layout

block content

  #index
    div(ng-controller='HomeCtrl')

      form.form-inline(role='form')
        .row
          .col-md-10
            .form-group
              input.form-control.input-lg.input-transparent(ng-model='url' placeholder='{{ urlPlaceholder }}')
          .col-md-2
            button.btn.btn-success.btn-lg.pull-right(ng-click='submit()' type='submit')
              span(translate='btn.shorten')

      .row
        .col-md-12
          .panel.panel-transparent.form-control.cursor-text
            .panel-body
              //h3 Hello
              .loader
                img(src="img/loading/loading-spin.svg" alt="Loading icon")

    div(ng-if='result.key')

      .row
        .col-md-12
          h2(translate='title.shortened.link')

      .row
        .col-md-12
          .panel.panel-transparent(class='cursor-text animated zoomInDown')
            .panel-body
              h4(ng-if='result.port == 80')
                a.cursor-text(href='/{{ result.key }}' target='_blank') {{ result.host }}/{{ result.key }}
              h4(ng-if='result.port != 80')
                a.cursor-text(href='/{{ result.key }}' target='_blank') {{ result.host }}:{{ result.port }}/{{ result.key }}