extends layout

block content

    #index
        div(ng-controller='HomeCtrl')
            form.form-inline(role='form')
                .row
                    .col-md-12
                        .form-group(ng-class="{'has-error has-feedback': urlFormatError}")
                            input.form-control.input-lg.input-transparent(type='text' ng-model='url' placeholder=__('search.placeholder') onfocus="this.select();")
                            span(ng-if='urlFormatError' class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                .row
                    .col-md-3
                        .form-group(ng-class="{'has-error has-feedback': customKeyExists && customKey.length > 2 || customKeyInvalid && customKey.length > 2}")
                            input.form-control.input-lg.input-transparent(type='text' ng-model='customKey' ng-change='onCustomKeyChanged()' placeholder='Custom link (optional)')
                    .col-md-7
                        span.link-preview(ng-if='customKey.length > 2')
                            i.fa.fa-spinner.fa-spin(ng-if='customKeyLoading')
                            i.fa.fa-hand-o-right(ng-if='!customKeyLoading && !customKeyExists && !customKeyInvalid') &nbsp;tylien.bzh/{{customKey}}
                            i.fa.fa-exclamation(ng-if='!customKeyLoading && customKeyExists') &nbsp;Link already exists !
                            i.fa.fa-exclamation(ng-if='!customKeyLoading && customKeyInvalid') &nbsp;Invalid custom link !
                    .col-md-2
                        button.btn.btn-success.btn-lg.pull-right(ng-click='submit()' type='submit')
                            span= __('search.button')

            .row
                .col-md-12
                    .panel.panel-transparent
                        .panel-body
                            .loader.cursor-hand(ng-if='isLoading')
                                i.fa.fa-3x.fa-spinner.fa-spin

                            .result.cursor-text(ng-if='result.key')
                                p
                                    i.fa.fa-link
                                    span=__("result.hereYourLink")
                                    a.animated.bounceIn.cursor-text(ng-if='result.port == 80' href='/{{ result.key }}' target='_blank') {{ result.host }}/{{ result.key }}
                                    a.animated.bounceIn.cursor-text(ng-if='result.port != 80' href='/{{ result.key }}' target='_blank') {{ result.host }}:{{ result.port }}/{{ result.key }}