extends layout

block content

  #index
    div(ng-controller='HomeCtrl')
      p

      form
        .row
          .col-md-10.col-sm-6
            input.form-control.input-lg.input-transparent(ng-model='url' id='urlInput' placeholder='{{ urlPlaceholder }}' size=64)
          .col-md-2.col-sm-6
            button.btn.btn-success.btn-lg(ng-click='submit()' class='pull-right' type='submit')
              span(translate='btn.shorten')

      p

      div(ng-if='result.key')

        .row
          .col-lg-12
            h2(translate='title.shortened.link')

        .row
          .col-lg-12
            .panel.panel-transparent(class='cursor-text animated zoomInDown')
              .panel-body
                h4(ng-if='result.port == 80')
                  a.cursor-text(href='/{{ result.key }}' target='_blank') {{ result.host }}/{{ result.key }}
                h4(ng-if='result.port != 80')
                  a.cursor-text(href='/{{ result.key }}' target='_blank') {{ result.host }}:{{ result.port }}/{{ result.key }}