extends layout

block content

  #index
    div(ng-controller='HomeCtrl')
      form.form-inline(role='form')
        .row
          .col-md-10.col-sm-12.col-xs-12
            .form-group
              input.form-control.input-lg.input-transparent(ng-model='url' placeholder=__('search.placeholder'))
          .col-md-2
            button.btn.btn-success.btn-lg.pull-right(ng-click='submit()' type='submit')
              span= __('search.button')

      .row
        .col-md-12
          .panel.panel-transparent.form-control
            .panel-body
              .loader.cursor-hand(ng-if='isLoading')
                img(src="img/loading/loading-spin.svg" alt="Loading icon")

              .result.cursor-text(ng-if='result.key')
                .span.animated.bounceIn
                  h2(translate='title.shortened.link')
                  h4(ng-if='result.port == 80')
                    a.cursor-text(href='/{{ result.key }}' target='_blank') {{ result.host }}/{{ result.key }}
                  h4(ng-if='result.port != 80')
                    a.cursor-text(href='/{{ result.key }}' target='_blank') {{ result.host }}:{{ result.port }}/{{ result.key }}