doctype html
html(ng-app='tyLienApp')
  head
    title=title

    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/bower_components/animate.css/animate.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body

    .background-image(class='animated fadeIn')

    .container
      .header(ng-controller='HeaderCtrl')
        nav
          ul(class='nav nav-pills pull-right')
            li.presentation(ng-class='{ active: currentLang == "fr" }')
              a(ng-click='setLang("fr")' href='#') FR
            li.presentation(ng-class='{ active: currentLang == "en" }')
              a(ng-click='setLang("en")' href='#') EN
            li.presentation(ng-class='{ active: currentLang == "bzh" }')
              a(ng-click='setLang("bzh")' href='#') BZH
        h1(translate='title.app').animated.bounceInLeft

        // test

      block content

      footer
        ul
          li
            a(href='http://github.com/tibus29/tylien.bzh' target='_blank')
              span.footer-icon.github.animated
          li
            a(href='http://linkedin.com/pub/thibault-pensec/42/6b4/691' target='_blank')
              span.footer-icon.linkedin.animated
          li
            a(href='http://twitter.com/tibus29' target='_blank')
              span.footer-icon.twitter.animated

    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/bower_components/angular/angular.min.js')
    script(type='text/javascript' src='/bower_components/angular-translate/angular-translate.min.js')
    script(type='text/javascript' src='/js/app.js')

    script(type='text/javascript').
      $(function () {
        $('[data-toggle="popover"]').popover();
      });