doctype html
html(ng-app='tyLienApp')
  head
    title=title

    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/bower_components/animate.css/animate.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body

    .container
      block content

    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/bower_components/angular/angular.min.js')
    script(type='text/javascript' src='/js/app.js')

    script(type='text/javascript').
      $(function () {
        $('[data-toggle="popover"]').popover();
      });